<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUfSGosU1PeOzJS754ENbs8pe76ZM4kLo</string>
	<key>GCM_SENDER_ID</key>
	<string>112194650864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swifty.Onews</string>
	<key>PROJECT_ID</key>
	<string>onews-ce542</string>
	<key>STORAGE_BUCKET</key>
	<string>onews-ce542.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112194650864:ios:8cd61a8ca39751ca01b835</string>
</dict>
</plist>